[submodule "projects/canOfSpam/upstream"]
	path = projects/canOfSpam/upstream
	url = https://github.com/VEDA95/hackathon_project_2025_bot_detection_submission_times
[submodule "projects/entity-resolution-team/upstream"]
	path = projects/entity-resolution-team/upstream
	url = https://github.com/amitchharper/hackdc2025-entity-resolution
[submodule "projects/expanded-search/upstream"]
	path = projects/expanded-search/upstream
	url = https://github.com/purplewildflower/regulations-llm
[submodule "projects/hive-partitioned-parquet/upstream"]
	path = projects/hive-partitioned-parquet/upstream
	url = https://github.com/jayqi/mirrulations-hive-partitioned-parquet
[submodule "projects/llmgov/upstream"]
	path = projects/llmgov/upstream
	url = https://github.com/ekim1394/civictech-hackathon-2025
[submodule "projects/mirrulations-cli/upstream"]
	path = projects/mirrulations-cli/upstream
	url = https://github.com/jayqi/mirrulations-cli
[submodule "projects/rules-talk/upstream"]
	path = projects/rules-talk/upstream
	url = https://github.com/grubbjabari/talk-to-me-in-rules
[submodule "projects/taskmasters/upstream"]
	path = projects/taskmasters/upstream
	url = https://github.com/SanskarLoganDev/civic-hack-taskmasters
[submodule "projects/team-velogear/upstream"]
	path = projects/team-velogear/upstream
	url = https://github.com/LenovoGuy98/pdf-parser
[submodule "projects/the-scrapers/upstream"]
	path = projects/the-scrapers/upstream
	url = https://github.com/Cromian/civic-tech-scrape
[submodule "projects/uspf1/upstream"]
	path = projects/uspf1/upstream
	url = https://github.com/raghavrama21/uspf1-fda-knowledge-graph
[submodule "projects/within-docket-dataset/upstream"]
	path = projects/within-docket-dataset/upstream
	url = https://github.com/SriInsights/DC-Hackathon-2025.git
