openapi: 3.0.3
info:
  title: ECFS Public API Documentation
  description: To use this API, you must first register for a free API key. Click the link at the top of this page to access the signup form.
  version: 1.0.0
servers:
  - url: https://publicapi.fcc.gov/ecfs/
    description: The production API search service.
paths:
  /inbox:
    get:
      tags:
        - Inbox
      summary: Inboxes
      description: Available Inboxes for Non-Docketed Filing
      responses:
        "200":
          description: Available Inboxes for Non-Docketed Filing
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Inbox"
    parameters:
      - name: api_key
        in: query
        description: API Key
        required: true
        schema:
          type: string
  /filings:
    get:
      tags:
        - Filing
      summary: Search Filings by keyword
      description: |
        To search filings by:
        1) Name of Filer
        2) Law Firm
        3) Attorney/Author
        4) DA/FCC Number
        5) File Number
        6) Bureau ID Number
        7) Report Number

        Please pass the followings into the q parameter:
        1) filers.name:(keyword)
        2) lawfirms.name:(keyword)
        3) authors.name:(keyword)
        4) delegated_authority_number:(*keyword*)
        5) file_number:(*keyword*)
        6) id_bureau:(*keyword*)
        7) report_number:(*keyword*)

        Example: q=(lawfirms.name:(keyword)+addressentity.city:(keyword)+addressentity.state:(keyword)+delegated_authority_number:(*keyword*))

        Date Options:\
        Enter [gte]Start_Date[lte]End_Date\
        Date Format: YYYY-MM-DD

        Date fields may include hours and minutes:\
        YYYY-MM-DDThh:mmTZD (e.g. 1997-07-16T19:20+01:00)

        or complete date plus hours, minutes and seconds:\
        YYYY-MM-DDThh:mm:ssTZD (e.g. 1997-07-16T19:20:30+01:00)

        or complete date plus hours and minutes without Time Zone:\
        YYYY-MM-DDThh:mm (e.g. 1997-07-16T19:20+04:00)\
        Missing Time zone is assumed as EST/EST daylight.

        Counts:\
        Result count for given criteria is always embeded in response headers, here is snippet of response headers\
        limit: 25 offset: 25 total: 761210 X-Response-Time: 346.256ms\
        Example:\
        [https://publicapi.fcc.gov/ecfs/filings?date_received=[gte]2017-10-1[lte]2018-1-29&limit=1](https://publicapi.fcc.gov/ecfs/filings?date_received=[gte]2017-10-1[lte]2018-1-29&limit=1)\
        [https://publicapi.fcc.gov/ecfs/filings?date_received=[gte]2017-10-1[lte]2018-1-29&q=fcc&limit=1](https://publicapi.fcc.gov/ecfs/filings?date_received=[gte]2017-10-1[lte]2018-1-29&q=fcc&limit=1)
      responses:
        "200":
          description: Filings matching provided query
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Filing"
    parameters:
      - name: api_key
        in: query
        description: API Key
        required: true
        schema:
          type: string
      - name: q
        in: query
        description: Search Full Text
        required: false
        schema:
          type: string
      - name: date_submission
        in: query
        description: Date Submission Range. See Implementation Notes above for options.
        schema:
          type: string
          format: date
      - name: date_received
        in: query
        description: Date Received Range
        schema:
          type: string
          format: date
      - name: date_disseminated
        in: query
        description: Posted Date Range. See Implementation Notes above for options.
        schema:
          type: string
          format: date
      - name: date_comment_period
        in: query
        description: Comment Date. See Implementation Notes above for options.
        schema:
          type: string
          format: date
      - name: date_reply_comment
        in: query
        description: Reply Comment Date. See Implementation Notes above for options.
        schema:
          type: string
          format: date
      - name: sort
        in: query
        description: sort
        schema:
          type: string
          enum:
            - date_disseminated,DESC  (default)
            - date_disseminated,ASC
            - date_submission,DESC
            - date_submission,ASC
            - date_received,DESC
            - date_received,ASC
            - filers.name,DESC
            - filers.name,ASC
            - authors.name,DESC
            - authors.name,ASC
            - bureaus.description,DESC
            - bureaus.description,ASC
            - submissiontype.description,DESC
            - submissiontype.description,ASC
            - total_page_count,DESC
            - total_page_count,ASC
      - name: limit
        in: query
        description: Limit
        schema:
          type: integer
          format: int64
      - name: offset
        in: query
        description: Offset - Max allowed is 500,000. Please date_submission filter combination to get more filings.
        schema:
          type: integer
          format: int64
  /filing/{id_submission}:
    get:
      tags:
        - Filing
      summary: Search Filing by Submission ID
      description: Get Filing by Submission ID
      responses:
        "200":
          description: Filing with the provided id_submission
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Filing"
    parameters:
      - name: api_key
        in: query
        description: API Key
        required: true
        schema:
          type: string
      - name: id_submission
        in: path
        required: true
        description: Submission ID
        schema:
          type: string
        style: simple
  /proceedings:
    get:
      tags:
        - Proceeding
      summary: Search Proceedings
      description: |
        Proceeding Search API
      responses:
        "200":
          description: Proceedings matching the provided query
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Proceeding"
    parameters:
      - name: api_key
        in: query
        description: API Key
        required: true
        schema:
          type: string
      - name: q
        in: query
        description: "Fulltext Search"
        schema:
          type: string
      - name: name
        in: query
        description: Proceeding Name or Docket Number
        schema:
          type: string
      - name: description
        in: query
        description: Proceeding Description
        schema:
          type: string
      - name: open_closed
        in: query
        description: Search for open (O) or closed (C) proceedings
        schema:
          type: string
          enum:
            - O
            - C
      - name: applicant_name
        in: query
        description: Applicant Name
        schema:
          type: string
      - name: bureau.name
        in: query
        description: Bureau Name (this list only contains the current FCC Bureau names)
        schema:
          type: string
          enum:
            - Auctions
            - Consumer and Governmental Affairs Bureau
            - Enforcement Bureau
            - General (Multiple Bureaus)
            - International Bureau
            - Media Bureau
            - Office of Administrative Law Judges
            - Office of Chairman Brendan Carr
            - Office of Chairwoman Jessica Rosenworcel
            - Office of Commissioner Geoffrey Starks
            - Office of Commissioner Nathan Simington
            - Office of Communications Business Opportunities
            - Office of Economics And Analytics
            - Office of Engineering & Technology
            - Office of General Counsel
            - Office of Legislative Affairs
            - Office of Managing Director
            - Office of Media Relations
            - Office of Workplace Diversity
            - Office of the Inspector General
            - Office of the Secretary
            - Others
            - Public Safety & Homeland Security Bureau
            - Wireless Telecommunications Bureau
            - Wireline Competition Bureau
      - name: date_proceeding_created
        in: query
        description: |
          Date Created Range\
          Enter [gte]Start_Date[lte]End_Date\
          Date Format: YYYY-MM-DD
        schema:
          type: string
      - name: date_closed
        in: query
        description: |
          Date Closed Range\
          Enter [gte]Start_Date[lte]End_Date\
          Date Format: YYYY-MM-DD
        schema:
          type: string
  /documents:
    get:
      tags:
        - Documents
      summary: Search Documents by Submission ID
      responses:
        "200":
          description: Documents
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Document"
    parameters:
      - name: api_key
        in: query
        description: API Key
        required: true
        schema:
          type: string
      - name: id_submission
        in: query
        description: Document associated filing ids. Use commas to separate multiple ids.
        required: true
        schema:
          type: string
components:
  schemas:
    Inbox:
      type: object
      properties:
        date_creation:
          type: string
          format: date-time
        id_proceeding:
          type: string
        description:
          type: string
        name:
          type: string
    Filing:
      type: object
      properties:
        submissiontype:
          type: object
          properties:
            id_submission_type:
              type: integer
              format: int64
            description:
              type: string
            short:
              type: string
            type:
              type: string
        confirmation_number:
          type: integer
          format: int64
        is_staff_upload:
          type: integer
          format: int32
        documents:
          type: array
          items:
            type: object
            properties:
              filename:
                type: string
              src:
                type: string
              description:
                type: string
        delegated_authority_number:
          type: string
        id_submission:
          type: integer
          format: int64
        bureaus:
          type: array
          items:
            type: object
            properties:
              bureau_code:
                type: string
              name:
                type: string
              edocs_bureau_code:
                type: string
              id:
                type: integer
                format: int32
        total_page_count:
          type: integer
          format: int32
        lawfirms:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
        bureau_id:
          type: string
        date_comment_period:
          type: string
          format: date-time
        file_number:
          type: string
        report_number:
          type: string
        date_disseminated:
          type: string
          format: date-time
        id_edocs:
          type: integer
          format: int64
        proceedings:
          type: array
          items:
            type: object
            properties:
              id_proceeding:
                type: string
              name:
                type: string
              bureau_code:
                type: string
              description:
                type: string
              bureau_name:
                type: string
        date_received:
          type: string
          format: date-time
        text_data:
          type: string
        date_last_modified:
          type: string
          format: date-time
        created:
          type: boolean
        viewingstatus:
          type: array
          items:
            type: object
            properties:
              description:
                type: string
              id:
                type: integer
                format: int32
        fcc_record:
          type: string
        date_reply_comment:
          type: string
          format: date-time
        express_comment:
          type: integer
          format: int32
        is_action:
          type: integer
          format: int32
        filers:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
        date_submission:
          type: string
          format: date-time
        text_data_docs:
          type: array
          items:
            type: object
            properties:
              data:
                type: string
        filingstatus:
          type: object
          properties:
            description:
              type: string
            id:
              type: integer
              format: int32
        entity:
          type: string
        authors:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
    Proceeding:
      type: object
      properties:
        applicant_name:
          type: string
        appeal:
          type: string
        callsign:
          type: string
        channel:
          type: string
        city:
          type: string
        consolidated_proceeding_id:
          type: string
        date_archived:
          type: string
        date_commission_decision:
          type: string
          format: date-time
        date_designated:
          type: string
          format: date-time
        date_effective:
          type: string
          format: date-time
        date_initial_decision:
          type: string
          format: date-time
        date_last_modified:
          type: string
          format: date-time
        date_nprm:
          type: string
          format: date-time
        date_oral_argument:
          type: string
          format: date-time
        date_proceeding_created:
          type: string
          format: date-time
        date_public_notice:
          type: string
          format: date-time
        date_reporting_and_order:
          type: string
          format: date-time
        date_rule_board_decision:
          type: string
          format: date-time
        flag_exparte_allowed:
          type: string
        face_card_id:
          type: string
        filed_by:
          type: string
        file_number:
          type: string
        flag_archived:
          type: string
        flag_historical_data_exists:
          type: string
        flag_internet_file:
          type: string
        flag_open_close:
          type: string
        flag_rulemaking_or_docket:
          type: string
        flag_small_business_impact:
          type: string
        id_bureau:
          type: string
        id_proceeding:
          type: integer
          format: int32
        id_state:
          type: string
        location:
          type: string
        description:
          type: string
        description_display:
          type: string
        name:
          type: string
        dor_cc_exemption:
          type: string
        rule_section:
          type: string
        sunshine_start_date:
          type: string
          format: date-time
        sunshine_end_date:
          type: string
          format: date-time
        bureau:
          type: object
          properties:
            code:
              type: string
            edocs_bureau_code:
              type: string
            name:
              type: string
        state:
          type: object
          properties:
            id:
              type: integer
              format: int32
            name:
              type: string
            abbreviation:
              type: string
        _index:
          type: string
    Document:
      type: object
      properties:
        attachment_id:
          type: string
        byte_size:
          type: string
        comment:
          type: string
        date_modified:
          type: string
          format: date-time
        date_ocr:
          type: string
          format: date-time
        date_pdf_modified:
          type: string
          format: date-time
        date_processed:
          type: string
          format: date-time
        id_submission:
          type: string
        id_document:
          type: string
        edocs_link:
          type: string
        description:
          type: string
        file_description:
          type: string
        file_name:
          type: string
        flag_archived:
          type: string
        flag_conv_problem:
          type: string
        flag_migrated_from_rips:
          type: string
        native_app_byte_size:
          type: string
        ocr_flag:
          type: string
        official_title:
          type: string
        page_count:
          type: integer
          format: int32
        parseStatus:
          type: string
        transmission_end_date:
          type: string
          format: date-time
        transmission_start_date:
          type: string
          format: date-time
        type:
          type: object
          properties:
            extension:
              type: string
            mine:
              type: string
        location:
          type: string
        averror:
          type: string
        avcheck:
          type: string
        parseError:
          type: string
